!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'cartxt'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'cartxt'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    -# TODO would be preferable to blacklist this but Poltergeist doesn’t support that
    -unless Rails.env.test?
      =stylesheet_link_tag "https://fonts.googleapis.com/css?family=Dosis:400,800"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{class: "#{controller_name} #{defined?(@body_class) ? @body_class : ""}", id: action_name}
    %main{:role => "main"}
      .sidebar-container
        .sidebar
          %a.home{href: root_path}
            %h1
              =image_tag('car.svg')
              .title cartxt
          .lead txt-driven<br/>car-share
          %nav
            %ul.nav
              =render 'layouts/navigation_links'
          = render 'layouts/messages'
      .content-container
        .content
          = yield
