!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'cartxt'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'cartxt'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    =stylesheet_link_tag "https://fonts.googleapis.com/css?family=Dosis:400,800"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{class: controller_name, id: action_name}
    %main{:role => "main"}
      .sidebar
        %a.home{href: root_path}
          %h1
            =image_tag('car.svg')
            cartxt
        %ul.nav
          =render 'layouts/navigation_links'
        = render 'layouts/messages'
      .content
        = yield
